#Center				{
			
						margin-top: 100px;
						display: block;
						z-index: -10;
						position: absolute;
			
					}
			
			
#TaPBlock			{
			
						margin-top: 100px;
						margin-left: 50px;
			
					}
		
#TaPTitle			{
						margin-left: 680px;
						font-family: 'Ubuntu', sans-serif;
						font-weight: bold;	 
						font-size: 30px;	
		
					}
		
#TaPVideo			{
						margin-top: 55px;
						display: inline-block;
						float: left;
		
		
					}
		
#TaPImg				{
						display: inline-block;	
						margin-left: 22px;
						margin-top: 55px;
		
					}
		
#TaPText			{
						margin-top: 60px;
						margin-left: 60px;	
						font-weight: bold;
						font-size: 18px;
						letter-spacing: 1.5px;
		
					}

#TaPAppstorelogo	{

						display: inline-block;
						position: absolute;
						top: 650px;
						right: 215px;

					}