#AsBlock	{

				display: inline-block;
				position: absolute;
				top: 210px;
				left: 180px;		
			}



#AsTitle	{
				font-family: 'Ubuntu', sans-serif;
				font-weight: bold;
				font-size: 30px;
				margin-bottom: 90px; 
			}



#AsBtnBlock	{

				display: inline-block;
				position: relative;	
				background-color: black;
				height: 190px;
				width: 290px;
				margin-top: 40px;
				margin-left: 0px;
				margin-right: 80px;
				color: white;
				padding-left: 35px;
				padding-top: 20px; 


			}
			

