body 		{

				font-family: 'Ubuntu', sans-serif;	

			}

#CarBlock	{

				position: absolute;
				
				top: 210px;
				left: 140px;

			}

#CarTitle 	{

					font-size: 30px;
					font-weight: bold;
					margin-bottom: 20px;

			}

#CarSubTitle{

					font-size: 20px;
					font-weight: bold;
					margin-bottom: 30px;

			}

#CarImg		{

				height: 330px;

			}

#CarBtn		{
				margin-left: 725px; 
				text-align: center;
				padding: 10px;
				display: block;
				background-color: #e8b407;
				height: 30px;
				width: 200px;
				text-decoration: none;
				color: black;
				font-weight: bold;

			}