body	 		{

					font-family: 'Ubuntu', sans-serif;	

				}

#CarSTBackBtn	{

					position: absolute;
					top: 120px;
					left: 100px;
					background-color: #e8b407;
					cursor: pointer;
					text-align: center;
					padding: 10px;
					display: block;
					height: 30px;
					width: 120px;
					text-decoration: none;
					color: black;
					font-weight: bold;
				}

#CarSTLiBlock	{

					position: absolute;
					top: 180px;
					left: 100px;

				}