#Footer			{
		
					background-color: #2e2e2e;
					position: absolute;
					width: 100%;
					height: 350px;	
					margin-left:-8px; 
					margin-top: 100%; 
		
				}
#SocialBlock	{

					display: inline-block;
					color: white;
					position: absolute;
					top: 95px;
				}

#Social 		{
					
					width: 3%;
					cursor: pointer;
					margin: 15px;
		
				}

#Copyright  	{

					font-size: 1.3rem;
					display: inline-block;
					position: absolute;
					top: 250px;
					left: 27%

				}