body	 		{

					font-family: 'Ubuntu', sans-serif;	

				}

#Hp 			{

					position: absolute;
					top: 200px;
					left: 120px;
				}

#HpTitle		{
					position: absolute;
					font-weight: bold;
					font-size: 65px;
					left: 725px;


				}

#HpSubtitle2	{
					position: absolute;
					font-weight: bold;
					font-size: 65px;
					left: -1000px;


				}



#HpSubtitle		{

					position: absolute;
					top: 140px;
					left: 700px;
					width: 400px;
					font-size: 20px;
					font-weight: bold;

				}

#HpSubtitle2	{


					top: 300px;
					left: 200px;
					width: 400px;
					font-size: 20px;
					font-weight: bold;

				}


#HpNews1		{

					position: absolute;
					display: inline-block;
					top: 230px;
					left: 700px;
					width: 1000px;

				}

#HpNews2 		{
					position: absolute;
					top: 400px;

				}


#HpNewsImg		{
					position: absolute;
					height: 300px;
					top: 140px;
					left: 120px;

				}

#HpNewsImg2		{
					position: absolute;
					height: 300px;
					top: 300px;
					left: 800px;

				}

#HpNews2Txt		{
					position: absolute;
					left: 120px;
					top: 400px;
					width: 1000px;

				}